# ignore .git and .cache folders
.git
.cache
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
/devops/*
# ignore all *.class files in all folders, including build root
**/*.class
# To prevent storing dev/temporary container data
*.csv
/tmp/*

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md